* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #FFF;
  height: 5000px;
}

main {
  padding-top: 150px;
}


header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 21px auto 45px auto;
  position: fixed;
  z-index: 1000;
}

header .menu-burguer button {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 50px;
}

header .menu-main {
  display: flex;
  align-items: center;
  width: 70%;
  height: 72px;
  border-radius: 50px;
  background: #F1F7FF;

}

header .menu-main div {
  margin-left: 42px;
}

header .menu-submit button {
  width: 201px;
  height: 72px;
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  background: linear-gradient(90deg, #03E7EA 0%, #005FEA 100%);
  color: #F1F4F9;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}


#home {
  margin-left: 132px;
  margin-right: 35px;
}

#home .home_cards-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#home .home_cards-top .home-left h2 {
  color: #001942;
  font-family: Poppins;
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 76px;
  letter-spacing: -0.56px;
}

#home .home_cards-top .home-left span {
  background: linear-gradient(90deg, #03E7EA 0%, #005FEA 53.79%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#home .home_cards-top .home-left .btn-all {
  display: inline-flex;
  align-items: flex-start;
  gap: 13px;
  margin-top: 18px;
}

#home .home_cards-top .home-left .btn-all .btn-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid #0259FF;
}

#home .home_cards-top .home-left .btn-all .btn-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 202px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #F1F7FF;
}

#home .home_cards-top .home-left .btn-all .btn-right span {
  color: #0259FF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 12px;
}

#home .home_cards-top .home-right {
  width: 750px;
  height: 367px;
  border-radius: 24px;
  z-index: 1;
  position: relative;
}

#home .home_cards-top .home-right img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

#home .home_cards-top .home-right p {
  position: absolute;
  color: #001942;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.24px;
  background-color: #fff;
  padding: 10px;
  border-radius: 0 0 25px 0;
  z-index: 2;
}

#home .home_cards-top .home-right div {
  position: absolute;
  width: 37px;
  height: 37px;
  background-color: #fff;
  border-radius: 10px;
  z-index: 3;
  bottom: 10px;
  left: 10px;
}

#home .home_cards-top .home-right div img {
  width: 100%;
  height: 100%;
}