.bg-primaryBtn {
  background-image: linear-gradient(90deg, #03E7EA 0%, #005FEA 100%);
}

.bg-primaryText {
  background: linear-gradient(90deg, #03EAEA 0%, #005FEA 53.21%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-unid {
  border-radius: 1rem
    /* 16px */
  ;
  position: relative;
  overflow: hidden;
}

.card-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem/* 8px */;
}
.btn-float {
  position: absolute;
  z-index: 10;
  background-color: rgb(255 255 255);
  text-align: center;
  font-weight: 600;
  /*Uso no p | a*/
}
