html {
  scroll-behavior: smooth;
}

body {
  height: 5000px;
}

.bg-primaryBtn {
  background-image: linear-gradient(90deg, #03E7EA 0%, #005FEA 100%);
}

.bg-primaryText {
  background: linear-gradient(90deg, #03EAEA 0%, #005FEA 53.21%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-unid {
  border-radius: 1rem
    /* 16px */
  ;
  position: relative;
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem
    /* 8px */
  ;
}

.btn-float {
  position: absolute;
  z-index: 10;
  background-color: rgb(255 255 255);
  text-align: center;
  font-weight: 600;
  /*Uso no p | a*/
}


/* ----Início Caroulsel---- */

.swiper {
  width: 100%;
  height: 300px;
}

.swiper-wrapper {
  border-radius: 0.875rem;
}

.swiper-slide {
  width: 90%;
}

.swiper-slide img {
  width: 15.9375rem;
  height: 18.125rem;
  height: 100%;
  border-radius: 0.875rem;
}



/* ----Fim Caroulsel---- */













@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}








::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}